USE [master]
GO
/****** Object:  Database [lpuDb]    Script Date: 22-01-2026 15:06:28 ******/
CREATE DATABASE [lpuDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lpuDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\lpuDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lpuDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\lpuDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lpuDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lpuDb]
GO
/****** Object:  Table [dbo].[tbl_department]    Script Date: 22-01-2026 15:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_department](
	[DeptId] [int] NOT NULL,
	[DeptName] [nvarchar](100) NULL,
	[location] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_department_1] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employee]    Script Date: 22-01-2026 15:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee](
	[EmpId] [int] NOT NULL,
	[EmployeeName] [varchar](500) NULL,
	[salary] [decimal](18, 2) NULL,
	[DeptId] [int] NULL,
 CONSTRAINT [PK_tbl_employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_department] ADD  DEFAULT ('Punjab') FOR [location]
GO
ALTER TABLE [dbo].[tbl_employee]  WITH CHECK ADD  CONSTRAINT [FK_tbl_employee_tbl_department] FOREIGN KEY([DeptId])
REFERENCES [dbo].[tbl_department] ([DeptId])
GO
ALTER TABLE [dbo].[tbl_employee] CHECK CONSTRAINT [FK_tbl_employee_tbl_department]
GO
USE [master]
GO
